body {
    font: normal small Verdana, Arial, Helvetica, sans-serif;
	 text-align: center;    
    background: black url(../images/br_back.png) repeat-y center;
    margin: 0 auto 0 auto;
    width: 800px;
}
 
a { text-decoration: none; }
a:link { color: #060; }
a:visited { color: #0A0; }
a:hover { color: #0A0; text-decoration: underline; }

.topContainer {
	width: 800px;
	margin: 0 auto;
	text-align: left;
	position: absolute;
	left: 50%;
	margin-left: -400px;
}
	

#wrapper {
	 width: 800px:    
	 margin: 0 auto;    
    text-align: left;
    position: absolute;
    left: 50%;
    margin-left: -400px;
}
/*  
.leftPanel {
 width: 10px;
 position: absolute;
 top: 0;
 left: 0px;
 border: green 1px solid;
}  
*/
  
.contentArea {
 width: 590px;
 position: absolute;
 /*float: left;*/
 top: 0;
 left: 10px;
}

.rightPanel {
 width: 200px;
 position: absolute;
 /*float: right;*/
 top: 0;
 left: 545px;
 border-top: #bd2c00 4px solid;
 border-bottom: #bd2c00 4px ridge;
 border-left: #bd2c00 4px solid;
 border-right: #bd2c00 4px solid;
 padding: 1em;
}

#footer {
    text-align: center;
    color: gray;
}

.nav {
    position: relative;
    padding-left: 2em;
    
}    
 .admin_nav {
    position: relative;
    padding: .5em;
    margin-bottom: .5em;
    border: 2px dashed red
}


#nav a, #admin_nav a { padding: 0 .3em 0 .3em; }




/*see master.kid*/
.flash {
    font-weight: bold;
    font-size: large;
    text-align: center;
    border: 2px solid green;
    background-color: #dfd;
}

/*#main_column {
    color: black;
    background-color: white;
    padding: .5em;
}
*/
 #logo {
  margin-bottom: 1em;
  padding-left:  25px;
} 



/*see main.kid*/
/*#tagline {
	 position: relative;	    
    border: 2px solid green;
    margin: 1em;
    padding: .5em 1em .5em 1em;
    background-color: #080;
    color: white;
}
/*#tagline ul {
    margin: 0 0 .5em 0;
}


#searchbox {
    margin: 1em;
}
*/
/*
#searchbox h2 {
    display: inline;
    margin-bottom: 0;
}
*/

h2 {
    margin: 0 0 .5em 0;
    font-size: large;
}

h3 {
    margin: 0 0 .5em 0;
    font-size: medium;
}
h3 span.small { font-size:x-small; }

h4 {
	 margin: 0 0 .5em 0; 

}






#map {
    float:right;
    margin: 1em 1em 1em 1em;
}
img { border-style: none; }
p { margin: 0; }
input { border: 1px solid black; }
textarea { border: 1px solid black; }






.event_list { margin: 0 0 1em 1em; }

.name {
    font-weight: bold;
    font-size: medium;
}



.listform { display: inline; }
.listform ul {
    display: inline;
    padding-left: .5em;
    margin: 0;
}
.listform li { display: inline; }
.listform li div { display: inline; }

#list_title {
    font-size: medium;
    font-weight: bold;
    margin-bottom: .5em;
}

#list_heading {
    font-weight: bold;
    border: thin solid black;
    width: 40em;
    padding-left: .5em;
}
#list_heading ul {
    padding: 0;
    margin: 0;
}
#list_heading li { display: inline; }

.edit_links p { margin-bottom: .5em; }

.buttonform { display: inline; }
.button {
    font-size: x-small;
    font-weight: normal;
    border: thin solid green;
    background-color: #dfd;
    padding: 0 .5em 0 .5em;
}
.button:hover { cursor: pointer }





}



#details { margin: 0 0 1em 1em; }

.fieldhelp { color: gray; }
.fielderror { color: red; }


#footer a { padding: 0 1em 0 1em; }
