body {
    font: normal small Geneva, Arial, Tahoma, sans-serif;
	  margin: 0 auto 0 auto;
    padding: 0 0 0 0;

    
}

a { text-decoration: none; }
a:link { color: #254117; font-weight: normal;}
a:visited { color: #737373;}
a:hover { text-decoration: underline;  }
li {list-style: none;}
img {border: none;}     

h1 { 
  font-size: small;
  text-transform: lowercase;
}

h2 {
    font-size: small;
    text-align: left;
    color: #737373;
}

h3 {
    padding-left: 0em;   
    font-size: x-small;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-left:0px;
}
h3 {display: inline;}

h4 {
  text-align: left;
  font-size: large;
  padding-left: 0em;
  width: 100%;
  margin-left: 0px;
}

h4 {display: inline;}

h5 {
 margin: 0 0 0 0;
 padding: 0 1em 0 0;
 text-transform: uppercase; 
 text-align: left;
}

h5 {display: inline;}

/*Main Containers*/

.content {
 width: 960px;
 margin: 0 auto 0 auto;
 }
 
.content h3 {
   display: inline;
 }

.leftcontent {
     margin: 0px;
     width: 175px;
     float: left;
     padding-top: 0px;
     position: relative;
}
  
.centercontent{
      height: auto;
      width: 550px;
      float: left;
    
}

.rightcontent {
       float: right;
       width: 230px;
     
}

.rightcontent h3 {
      padding-left: 0em;   
      font-size: small;
      text-align: left;
      color: #0a396b;
      text-transform: uppercase;
      padding-bottom: 0;
      margin-left:0px;
}

.footer{
    font-size: x-small;
    text-align: center;
    margin: 0 auto 0 auto;
    padding-top: 2em;
    clear: both;
    padding-right: 50px;
}  
.footer p{
     padding-top: 1em;
     color: #254117;
  }

/*Main and Admin Nav Bars*/

#navcontainer {
 font-size: medium;
 }

#navlist ul { 
   list-style: none;
   padding: 0px;
   background: #efefef;
   float: left;
   display: inline;   
}

#navlist li {
   padding-bottom: 1.5em;   
}

#navlist a:hover {
      text-decoration: none;
}

#navlist a:link, #navlist a:visited {
      color: black;
}      

.admin_nav {
   list-style: none;
   padding: 0px;
   background: none;
   text-align: right;
   margin-right: 0px;
   display: inline;   
}    
   

#banner {
  padding-bottom: 20px;
  margin: 0 auto 0 auto;
  text-align: center;
 } 

#help {
text-align:left;
padding: 5px;
color: #000;
background: #efefef;
}

.flash {
   font-weight: bold;
   font-size: medium;
   text-align: left;
}


/*Track and Untrack button*/ 
.button {
   padding: 0;
   font-size: x-small;
   border: solid 1px #254117;
   padding: 2px;
   background: #eee;
   margin-right: 15px;   
}
.button:hover { cursor: pointer } 
 
/*Top Search*/ 

#search {
   text-align: right;
   padding: 5px 0 10px 0;
}   


/*Dynamic Lists including tonight and site stats*/

#tonight {
   text-align: left;
   font-size: small; 
  
}

#tonight ul{
 float: right;
 width: 519px;
 margin: 0;
 padding: 0px 0px 0 0px;
 list-style: none;
 margin-bottom: 20px;
 }

#tonight li {
 float: left;
 width: 250px;
 margin: 0;
 padding: 0px 7px 0 2px;
 list-style: none;
 border-bottom: #efefef 1px dashed;
}
 
#tonight h3 {
 font-size: large;
 text-align: center;
 padding-bottom: 20px;
 }


#sitestats {
 margin-left: 0px;
 margin-top: 20px;
} 

#bandstats {
  text-align: right;
  position: relative;
  float: right;
  padding: 1em 2em 2em 2em;
} 

#bandstats h5, 
#bandstats p{
 padding: 0em;
 margin: 0;
 }

#venuestats {
  text-align: right;
  position: relative;
  padding: 1em 2em 2em 2em;
  float: right;
  margin-top: 5px;
  } 

#venuestats h5, 
#venuestats p{
 padding: 0 0 0 0;
 margin: 0 0 0 0;
 }

/* Menu for the Band and Event List pages */

#listnavlist
{
padding: 5px 0 ;
margin-left: 0;
border-bottom: 1px solid #778;
font-weight: bold;
}

#listnavlist li
{
list-style: none;
margin: 0;
display: inline;
}

#listnavlist li a
{
padding: 3px 0.5em;
margin-left: 3px;
background:  #eee;
}

#listnavlist li a:hover{
color: #254117;
background: #eee;
border-color: #227;
}

#listnavlist li a#current
{
background: white;
border-bottom: 1px solid white;
}

/*Login Page*/

#loginBox{
 margin-left: 0px;
 padding: 1em;
 text-align: left;
 display: inline;
 width: 100px;
 
}
#loginBox td{
  padding: .5em;
  border-bottom: 0;
  background: #efefef;
} 

#loginBox tr {
 width: 510px;
}
 
#loginBox a{
 clear: both;
}

#loginBox label{
 color: #000;
 padding-right: .5em;
 text-transform: uppercase;
 font-size: x-small;
 font-weight: bold;
}
  
#remember{
 float: left;
}

#newuserbox input,
#loginBox input{
 border: 2px ridge #737373;
 background-color: white; 
 color: black;
}
 
#newuserbox  {
  text-align: left;
  margin-left: 0px;
  padding: 1em;
  clear: both;
  background: #efefef;
}


#blurb {
 text-align: left;
 
 background: #efefef;
}

/*Artist Pages*/

#band {
   text-align: left;
}

#band ul{
 float: left;
 margin: 0;
 padding: 0px;
 list-style: none;
 margin-bottom: 0px;
 font-size: 16px;
 }

#band li {
 float: left;
 width: 520px;
 margin: 0;
 padding-left: 20px;
 padding-top: 10px;
 list-style: none;
 border-bottom: #efefef 1px dashed;
}

#recordings{
 margin-top: 20px;
}
#recordings ul{
 float: left;
 margin: 0;
 width: 519px;
 padding: 0px;
 list-style: none;
 margin-bottom: 0px;
 } 
 
 #recordings li {
 float: left;
 width: 160px;
 padding-left: 0px;
 padding-top: 10px;
 list-style: none;
 text-align: center;
}

#recordings img {
   border: 4px solid #efefef; 
}

#upcoming {
      clear: both;
}

#upcoming table{ 
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-bottom: 1px #737373 solid;
  margin-bottom: 5px;
}

#upcoming thead {
  background: #efefef;
  border-top: 1px #737373 solid;
  border-bottom: 1px #737373 solid;
}

#upcoming td,th {
	border-bottom: 1px dotted #efefef;
	font-size: .8em;
	padding: none;
}

#past table{ 
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-bottom: 1px #737373 solid;
  margin-bottom: 5px;
}

#past thead {
  background: #efefef;
  border-top: 1px #737373 solid;
  border-bottom: 1px #737373 solid;
}

#past td,th {
	border-bottom: 1px dotted #efefef;
	font-size: .8em;
}

/*Events Pages*/

#event { 
  table-layout: fixed;
  border-spacing: 0;
  text-align: left;
  margin: 0px;
  font-size: 14px;
}
#event td {
  padding: .25em;
  border-bottom: 1px dotted #efefef;
}
.event_list { 
  text-align: left;
  margin-left: 25px;
  margin-bottom: 1em;
  }
.event_list p{
 margin:.25em 0 0 0;
 }

#map {
    float: right;
    border: 2px solid #737373;
    margin: 2em 0 0 0;
}    

/*Venue Pages*/

#venue {
   text-align: left;
}

#venue ul{
 float: left;
 width: 519px;
 margin: 0;
 padding: 0px;
 list-style: none;
 margin-bottom: 0px;
 font-size: 14px;
}

#venue li {
 float: left;
 width: 519px;
 margin: 0;
 padding: 5px;
 list-style: none;
 border-bottom: #efefef 1px dashed;
}

/*User Dashboard*/

#bandstracked table{ 
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-bottom: 1px #737373 solid;
  margin-bottom: 20px;
}

#bandstracked thead {
  background: #efefef;
  border-top: 1px #737373 solid;
  border-bottom: 1px #737373 solid;
}

#bandstracked td,th {
	border-bottom: 1px dotted #efefef;
	font-size: .8em;
}

#venuestracked table{ 
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-bottom: 1px #737373 solid;
  margin-bottom: 20px;
}

#venuestracked thead {
  background: #efefef;
  border-top: 1px #737373 solid;
  border-bottom: 1px #737373 solid;
}

#venuestracked td,th {
	border-bottom: 1px dotted #efefef;
	font-size: .8em;
	}


#attendance table{ 
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-bottom: 1px #737373 solid;
  margin-bottom: 20px;
}

#attendance thead {
  background: #efefef;
  border-top: 1px #737373 solid;
  border-bottom: 1px #737373 solid;
}

#attendance td,th {
	border-bottom: 1px dotted #efefef;
	font-size: .8em;
	}
td#future {
  text-indent: 2.5em;
}

td#performed{
  text-indent: 2.5em;
}





/*Random Things*/

.rightbutton{
  /*width: 200px;*/
  padding-left: 1em;
  padding-right: 1em;
  }

.rightbutton .button{ display: inline;}
.rightbutton .button {
   color: #0a396b;
   font-weight: bold;
   background-color: none;
   padding: 0 .5em 0 .5em;
   float: right;
 }
.rightbutton .button:hover { cursor: pointer }



.fieldlabel {
 padding-right: .5em;
 text-transform: uppercase;
 font-size: x-small;

}
.fielderror{
  color: #bd2c00;
  margin-right:100px;
}
.fieldhelp { color: #000; }



.name {
    font-weight: bold;
    font-size: medium;
}

.content form {display: inline;}


.listform { display: inline; }
.listform ul {
    display: inline;
    padding-left: 0em;
    margin: 0px;
}
.listform li { display: inline; }
.listform li div { display: inline; }

textarea{ 
  padding: .25em;       
}


#list_title {
    font-size: medium;
    font-weight: bold;
    margin-bottom: .5em;
}
.edit_links p { margin-bottom: .5em; }









